{% extends "layouts/base1.html" %}

{% block title %} Upload your prescription {% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="content">
    <div class="page-inner">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Upload your prescription</h4>
                    </div>

                        <div class="card-body">
                            <div class="container" style="width: 70%;">
                                <div class="mb-3 card p-5 shadow-lg">
                                    <div class="container img-responsive">
                                        <img src="#" id="blah" alt="Image not selected" width="100%" style="display: none;">
                                    </div>

                                    <p class="font-weight-light text-center">Please send a Whatsapp message to +1 415 523 8886 with <b>"join lesson-round"</b> to activate message notification service for your Whatsapp number.</p>

                                    <form action="/uploadCustomerForm/" method="POST" class="" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="form-group">
                                          <label for="formGroupExampleInput">Image File</label>
                                          <input type="file" class="form-control" id="formGroupExampleInput" placeholder="Example input" name="prescription_image" accept="image/*" capture id="image_input" required>
                                        </div>
                                        <div class="form-group">
                                          <label for="formGroupExampleInput2">Whatsapp Number</label>
                                          <input type="number" class="form-control" id="formGroupExampleInput2" placeholder="Another input" name="phoneNumber" required>
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="mt-5 btn btn-primary">Submit</button>
                                        </div>
                                      </form>

                                    <!-- <form action="/uploadCustomerForm/" method="POST" class="" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <input class="form-control" type="file" name="prescription_image" accept="image/*" capture id="image_input">
                                        <label>Whatsapp Number</label>
                                        
                                        <input class="form-control" type="number" name="phoneNumber" required>
                                        <small>Please text</small>
                                        <br>
                                        <button type="submit" class="mt-5 btn btn-primary">Submit</button>
                                    </form> -->
                                    
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
<script>
    var inp = document.getElementById('image_input')
    var blah = document.getElementById('blah')
    inp.onchange = event => {
        const [file] = inp.files
        if (file) {
            blah.src = URL.createObjectURL(file)
        }
        blah.style = 'display: block'
    }

</script>
{% endblock javascripts %}